.announcement {
    background-color: $color-secondary;
    font-size: 1.4rem;

    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    justify-items: center;
    align-items: center;

    &__text {
        grid-column: 2 / 3;
        cursor: pointer;
        color: $color-white;
    }

    &__link {
        &:link,
        &:visited,
        &:active {
            color: $color-white;
            text-decoration: none;
        }
    }

    &__close {
        color: $color-white;
        padding: $padding-xs;
        cursor: pointer;
        align-self: stretch;
        justify-self: stretch;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-secondary-dark;
    }
}
