.navigation {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: min-content 2fr;
    align-items: center;
    padding: $padding-sm 0;

    &__menu {
        display: grid;
        grid-template-columns: 1fr min-content;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: $bp-lg) {
            grid-template-columns: min-content;
            grid-template-rows: minmax(0, 1fr) repeat(2, min-content) minmax(0, 1fr);
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 20;

            // Bug: hidden content pops up for a sec when resizing and refreshing the window
            // display:none; cannot apply transition -- DOESN'T WORK
            display: none;
            animation: menuOpen 0.8s cubic-bezier(0.45, 1.25, 0.98, 1.48);
        }
    }
    &__logo-box {
        height: 4rem;
        @media only screen and (max-width: $bp-lg) {
            position: absolute;
            top: 4.5rem;
            left: 5rem;
        }
    }

    &__logo {
        height: 100%;
    }

    &__main,
    &__sub {
        list-style: none;
    }

    &__main {
        justify-self: center;

        display: grid;
        grid-template-columns: repeat(5, min-content);
        column-gap: 4rem;

        @media only screen and (max-width: $bp-lg) {
            grid-row: 2 / 3;
            grid-template-columns: 1fr;
            row-gap: $grid-gap-sm;

            font-size: 4rem;
        }
    }

    &__sub {
        display: grid;
        grid-template-columns: repeat(2, min-content);
        column-gap: $grid-gap-sm;

        @media only screen and (max-width: $bp-lg) {
            grid-row: 3 / 4;
            margin-top: $margin-md;
            column-gap: $grid-gap-lg;
        }
    }

    &__link {
        transition: all 0.2s;
        &:link, //hasn't been visited
        &:visited,
        &:active {
            text-decoration: none;
            font-weight: 600;
            color: $color-font-dark;
        }

        &:hover {
            color: $color-primary-dark;
        }
    }

    &__icon {
        fill: $color-font-dark;
        font-size: 2rem;

        @media only screen and (max-width: $bp-lg) {
            font-size: 4rem;
        }
    }

    // navigation menu button
    &__btn-bg {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: radial-gradient($color-primary-light1, $color-primary-light2);
        position: fixed;
        top: 4rem;
        right: 5rem;

        transition: all 0.6s ease;
        z-index: 10;

        display: none;
        opacity: 0;
        visibility: hidden;

        &--scale {
            transform: scale(100);
        }

        @media only screen and (max-width: $bp-lg) {
            display: unset;
            opacity: 1;
            visibility: visible;
        }
    }

    &__menu-toggle {
        cursor: pointer;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background: linear-gradient(45deg, $color-primary, $color-primary-dark);
        position: fixed;
        top: 4rem;
        right: 4rem;

        opacity: 0;
        visibility: hidden;

        z-index: 30;

        @media only screen and (max-width: $bp-lg) {
            opacity: 1;
            visibility: visible;
        }
    }

    &__menu-icon {
        position: relative;
        background-color: $color-primary-light2;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-primary-light2;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.2s;
        }

        &::before {
            top: -0.8rem;
        }

        &::after {
            top: 0.8rem;
        }
    }

    &__menu-toggle:hover &__menu-icon::before {
        top: -1rem;
    }

    &__menu-toggle:hover &__menu-icon::after {
        top: 1rem;
    }
}
