.navigation {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 2fr;
    align-items: center;
    padding: $padding-sm 0;

    &__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media only screen and (max-width: $bp-lg) {
            grid-template-columns: 1fr;
        }
    }

    @media only screen and (max-width: $bp-xl) {
        grid-column: full-start / full-end;
        padding: $padding-sm;
    }

    @media only screen and (max-width: $bp-lg) {
        grid-template-columns: 1fr;
    }

    &__logo {
        display: block;
        height: 4rem;
    }

    &__main,
    &__sub {
        list-style: none;
        display: grid;
    }

    &__main {
        justify-self: center;
        grid-template-columns: repeat(5, min-content);
        column-gap: 4rem;
        @media only screen and (max-width: $bp-lg) {
            grid-template-columns: 1fr;
            justify-self: start;
        }
    }

    &__sub {
        grid-template-columns: repeat(2, min-content);
        column-gap: 4rem;
        justify-content: end;
        @media only screen and (max-width: $bp-lg) {
            justify-self: start;
        }
    }

    &__link {
        &:link, //hasn't been visited
        &:visited,
        &:active {
            text-decoration: none;
            font-weight: 600;
            color: $color-font-dark;
        }
    }

    &__icon {
        fill: $color-font-dark;
        font-size: 2rem;
    }
}
