// $color-primary: #ffa621;
$color-primary: #ffa621;
$color-primary-dark: #e6803d;
$color-primary-medium: #e9a378;
$color-primary-light1: #f9e4d5;
$color-primary-light2: #fff4ec;

$color-secondary: #233d75;
$color-secondary-dark: #0b1428;

$color-highlight: #e76f51;

$color-font-dark: #333;
$color-white: #fff;
$color-black: #000;

$padding-xs: 1rem;
$padding-sm: 4rem;
$padding-md: 6rem;
$padding-lg: 8rem;

$margin-xs: 1rem;
$margin-sm: 4rem;
$margin-md: 6rem;
$margin-lg: 8rem;

$box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);

$border-radius-sm: 4px;
$border-radius-md: 10px;
$border-radius-lg: 20px;
