.form {
    padding: $padding-md $padding-lg;

    &__heading {
        color: $color-secondary;
    }

    &__subheading {
        margin: $margin-sm 0;
    }

    &__fields {
        max-width: 60%;
        margin: 0 auto;
    }

    &__group {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: $margin-sm;
        }
    }

    &__input {
        box-sizing: content-box;
        font-size: 1.6rem;
        font-family: inherit;
        width: 100%;
        padding: $padding-xs;
        border: 3px solid transparent;

        &:not(:last-child) {
            border-radius: $border-radius-sm;
        }

        &:focus {
            outline: none;
            border-bottom: 3px solid $color-primary-dark;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-highlight;
        }
    }

    &__btn {
        &,
        &:link,
        &:visited {
            border: none;
        }
    }
}
