*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.container {
    // announcement is not part of the grid
    display: grid;
    grid-template-rows: calc(min-content+4rem) calc(90vh - 12rem) repeat(6, min-content);
    grid-template-columns:
        [full-start] minmax(4rem, 1fr)
        [center-start] repeat(12, [col-start] minmax(min-content, 12rem) [col-end]) [center-end]
        minmax(4rem, 1fr) [full-end];
}
