.destinations {
    grid-column: center-start / center-end;

    &__heading {
        margin: $header-margin;
    }
    &__card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
        column-gap: 12rem;
        row-gap: 6rem;

        margin: $margin-lg 0;
    }
}

.demographics {
    margin-top: $margin-xl;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: 1fr 600px;
    column-gap: 6rem;

    .demo__heading {
        margin: $header-margin;
    }

    .demo__btn {
        margin-top: $margin-md;
    }

    @media only screen and (max-width: $bp-lg) {
        grid-template-columns: min-content;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.blog {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(3, calc(100vw / 3));

    &__heading-container {
        max-height: calc(100vw / 3);
        padding: $padding-md;
    }

    &__intro-text {
        margin: $margin-md 0;
    }
}

.features {
    grid-column: center-start / center-end;
    margin: $margin-lg 0;

    &__heading-container {
        margin-bottom: $margin-lg;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, minmax(min-content, 1fr));
        column-gap: $grid-gap-lg;
        // row-gap: $grid-gap-xs;
        // align-items: start;

        @media only screen and (max-width: $bp-lg) {
            grid-template-columns: 1fr;
        }
    }
}

.newsletter {
    background-color: darkgray;

    grid-column: full-start / full-end;
}

.gallery {
    background-color: darksalmon;

    grid-column: full-start / full-end;
}
